:root {
  --pri-color: #008080;
  --sec-color: #ffc300;
  --ter-color: #2d3438;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: Helvetica, Arial, sans-serif;
}

/* navbar */
header {
  padding: 20px 35px;
  background-color: var(--pri-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar {
  margin: 7px 0;
}
.navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar ul li a {
  color: #2d3438;
  padding: 10 15px;
  font-size: 1.5rem;
  margin-right: 30px;
  text-decoration: none;
}

.navbar ul li a:hover {
  background: var(--sec-color);
  color: #ffffff;
  box-shadow: 0 0 10px white;
  border-radius: 15px;
  text-shadow: none;
}

/* home section */
#home {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
  height: 840px;
  justify-content: center;
  align-items: center;
  color: white;
}
#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("./images/heroImage.jpeg");
  height: 800px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.main {
  background-color: burlywood;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 80%;
}
.home-subtitle {
  font-family: monospace;
  text-align: center;
  text-align: center;
  margin: 25px 0px 0px 0px;
  font-size: 1.75rem;
}

.headings {
  font-family: monospace;
  font-size: 3rem;
  text-align: center;
  margin: 25px 0px 20px 0px;
  color: var(--pri-color);
  border-bottom: 2px solid var(--pri-color);
  padding-bottom: 5px;
}

/* About me section*/
#about-me {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
}
.profilePic {
  display: flex;
}

.profilePic img {
  width: 575px;
  height: 400px;
}

#home h2,
p {
  color: black;
}
/* My work */

#work {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  color: white;
  text-align: center;
  padding: 20px;
}
.gallery img {
  width: 370px;
  height: 250px;
  margin: 10px;
  border: 5px solid var(--pri-color);
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
}

.intro h2 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

/* footer */

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--pri-color);
  color: #2d3438;
  text-align: center;
  flex-wrap: wrap;
}

footer h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 10px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer ul li a {
  color: #2d3438;
  padding: 10 15px;
  font-size: 1.5rem;
  margin-right: 30px;
  text-decoration: none;
}

footer ul li a:hover {
  background: var(--sec-color);
  color: #ffffff;
  box-shadow: 0 0 10px white;
  border-radius: 15px;
  text-shadow: none;
}

/* media query for tablets and smaller */
@media screen and (max-width: 768px) {
  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main {
    top: 110%;
    left: 80%;
  }
  .home-subtitle {
    font-size: 1.5rem;
  }
  .headings {
    font-size: 2.5rem;
  }
  .profilePic {
    flex-direction: column;
    align-items: center;
  }
  .profilePic img {
    width: 475px;
    height: 300px;
  }
  .intro h2 {
    text-align: center;
    padding: 10px;
  }
  footer ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* media query for mobile phones */
@media screen and (max-width: 530px) {
  #home {
    height: 800px;
  }
  .main {
    top: 85%;
    left: 80%;
  }
  .home-subtitle {
    font-size: 1rem;
  }
  .headings {
    font-size: 1.75rem;
  }
  .profilePic img {
    width: 300px;
    height: 175px;
  }
  .intro h2 {
    font-size: 1.5rem;
  }
  footer ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
